@import "../../scss/variables.scss";
.questions {
	&__title {
		margin-bottom: 60px;
		@media(max-width:691px){
			margin-bottom: 35px;
		}
	}
	&__cards {
		display: flex;
		flex-direction: column;
		gap:10px;
	}
	&__block{
		cursor: pointer;
		padding: 20px;
		user-select: none;
		background: #FFFFFF;
		@media(max-width:700px){
			padding: 15px 20px;
		}
	}
	&__name{
		display: flex;
		align-items: center;
		gap:15px;
		font-size: 24px;
		transition: color 0.3s ease 0s;
		& img{
			transition:transform 0.3s ease 0s;
			width: 20px;
			flex:0 0 20px;
			transform:rotate(-180deg);
		}
		.questions__block.active &{
			color:$main;
		}
		.questions__block.active & img{
			transform:rotate(0deg);
		}
		@media(max-width:700px){
			font-size: 18px;
			& img{
				width: 15px;
				flex:0 0 15px;
			}
		}
	}
	&__text{
		font-size: 18px;
		line-height: 1.4;
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s ease 0s;
		pointer-events:none;
		opacity:0;
		visibility:hidden;
		.questions__block.active &{
			margin-top: 15px;
			pointer-events:auto;
			opacity:1;
			visibility:visible;
		}
		@media(max-width:700px){
			font-size: 16px;
		}
	}

}