@import "./../../scss/variables.scss";
.footer {
	background: #787B8C;
	padding-top: 20px;
	padding-bottom: 50px;
	@media(max-width: 767px){
		padding-bottom: 30px;
	}
	&__container {
		display: flex;
		gap:30px;
		@media(max-width: 767px){
			flex-direction: column;
			align-items: center;
		}
	}
	&__logo {
		margin-top: -20px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap:13px;
		flex: 1 1 auto;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.4;
		color: #EFF3F7;
		& a{
			text-decoration: underline;
			text-underline-position: under;
		}
		@media(max-width: 767px){
			text-align: center;
		}
	}
}