@import "./../../scss/variables.scss";
.control {
	&__title {
		margin-bottom: 50px;
		@media(max-width: 940px){
			margin-bottom: 40px;
		}		
	}
	&__body {
		display: flex;
		align-items: center;
		gap:25px;
		justify-content: space-between;
		@media(max-width: 940px){
			flex-direction: column;
			align-items: center;
		}
	}
	&__list {
		flex:1 1 auto;
		display: flex;
		flex-direction: column;
		gap:50px;
		@media(max-width: 940px) {
			flex:0 0 auto;
		}
		@media(max-width: 600px){
			gap:30px;
		}
	}
	&__item {
		align-items: center;
		display: flex;
		align-items: center;
		gap:25px;
		max-width: 610px;
		font-weight: 700;
		font-size: 18px;
		&-img{
			flex:0 0 42px;
			width: 42px;
			display: flex;
			justify-content: center;
			& img{
				max-width: 100%;
			}
		}
		@media(max-width: 540px){
			font-size: 16px;
			gap:15px;
			&-img{
				flex:0 0 35px;
				width: 35px;
			}
		}
	}
	&__image {
		flex:0 0 43%;
		& img{
			max-width: 100%;
		}
		@media(max-width: 940px) {
			flex:0 0 auto;
			max-width: 400px;
			width: 80vw;
		}
	}
}